{% extends 'layouts/base.html.twig' %}

{% block title "Edit user account"  %}
{% block body %}
        <div class="row">
                <div class="col-md-6 mx-auto">
                    <h1 class="my-5 text-center">Update Profile</h1>
                    
                    {{ form_start(form)}}

                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.firstName)}}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.lastName)}}
                            </div>
                        </div>

                    {{ form_rest(form)}}

                    <button type='submit' class="mt-5 btn btn-primary btn-lg btn-block">Aplly changes</button>
                    
                    {{ form_end(form)}}

                </div>
        </div>
{% endblock %}