{% extends 'layouts/base.html.twig' %}

{% block title 'Find all the best pins on earth' %}
{% block body %}
    {% if pins|length > 0  %}
    
        <h1 class="mb-4 text-center text-muted">{{ pluralize (pins|length, 'Pin')}}<h1>
            
            {% for row in pins|batch(3) %}
                <div class="row">
                    {% for pin in row %}
                        <div class="col-md-4">
                            <article class="pin bg-white rounded shadow">
                                <div class ="mw-100 overflow-hidden rounded-top">
                                    <a href="{{ path('app_pins_show', {id: pin.id}) }}">
                                        <img src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/images/defaultPicture.png')) | imagine_filter('squared_thumbnail_medium') }}" alt="{{ pin.title }}"  class="w-100"/>
                                    </a>
                                </div>                                
                                <h2><a class="h5 text-secondary text-decoration-none pl-3 pt-3" href="{{ path('app_pins_show', {id: pin.id}) }}">{{ pin.title }}</a></h2>
                                {# <p>{{ pin.description | u.truncate(10, '...') }}</p> #}
                                 <p class="pl-3 pb-3 text-muted h6"><small>Submitted by {{ pin.user.fullName}} </small></p>
                            </article>
                        </div>    
                    {% endfor %}    
                </div>
            {% endfor %}
    {% else %}
        <p class="mt-5 h1 text-center ">No pins yet. <a href="{{ path('app_pins_create') }}">Be the first!</a></p>
    {% endif %}
{% endblock %}
